<table mat-table [dataSource]="personas" class="mat-elevation-z8">

    <ng-container *ngFor="let column of displayedColumns"
                [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef> {{column | titlecase}} </th>
      <td mat-cell *matCellDef="let element">
        <label *ngIf="column != 'subscribed'">{{element[column]}}</label>
        <mat-icon *ngIf="column == 'subscribed' && element[column] == true">check</mat-icon>
        <mat-icon *ngIf="column == 'subscribed' && element[column] == false">close</mat-icon>
         <!-- {{element[column]}} --> </td>    
    </ng-container>

    <ng-container matColumnDef="actionButton">
      <th mat-header-cell *matHeaderCellDef> Actions</th>
      <td mat-cell *matCellDef="let persona"> 
        <mat-icon 
                (click)="edit(persona.id)"
                >
                edit
        </mat-icon>
        <mat-icon
                (click)="delete(persona.id)"
                >
                delete
        </mat-icon>
      </td>    
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns.concat(['actionButton'])"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns.concat(['actionButton']);"></tr>

  </table>
